<?php
	/* Copy this file to TestDatabaseConfiguration.php locally and adjust the data in the copy */

	public class DatabaseConfiguration
	{
		public static $databaseName = 'solarschiff_dev';
		public static $databaseUserName = 'solarschiff_dev';
		public static $databaseUserPassword = null; 				// insert the correct password here manually
		public static $databaseHost = 'db4free.net';
	}
?>